* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    position: relative;
    height: 100%;
}

/* Header & Navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    top: 0;
    padding-top: 16px;
    width: 100px;
    cursor: pointer;
}

.nav__link {
    position: relative;
    display: block;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 25px 35px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    text-decoration: none;
}

.nav__link:hover {
    background-color: #cecece;
    color: #000000;
    box-shadow: 0 0 5px #ebebeb,
                0 0 10px #c5c5c5,
                0 0 30px #b5b5b5,
                0 0 60px #c0c0c0;
}

.nav__actions {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.nav__search,
.nav__user,
.nav__toggle,
.nav__cart {
    font-size: 20px;
    cursor: pointer;
}

.nav__cart{
    padding-right: 16px;
}

.nav__list, .dropdown__list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: center; 
}

.nav__link, .dropdown__link {
    display: block;
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.nav__link:hover, .dropdown__link:hover {
    color: #ffffff; 
    background-color: #cecece;
}

/* For mobile phones */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: absolute;
        top: -100%;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0 8px 20px hsla(230, 75%, 32%, .15);
        width: 100%;
        overflow: auto;
        padding-block: 24px 24px;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        text-align: center;
    }

    .dropdown__container {
        background-color: #ffffff;
        height: 0;
        overflow: hidden;
        border-radius: 4px;
        transition: height .4s;
    }

    .show-dropdown .dropdown__container {
        height: auto; 
    }
}

.nav__close {
    position: absolute;
    top: 16px;
    right: 24px;
}

/* Show Menu */
.show-menu {
    opacity: 1;
    top: 0px;
    pointer-events: initial;
}

/* Search */
.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: hsla(230, 75%, 32%, .1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    padding: 128px 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.search__close {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 24px;
    color: hsl(230, 75%, 15%);
    cursor: pointer;
}

.search__form {
    display: flex;
    align-items: center;
    column-gap: 8px;
    background-color: hsl(230, 100%, 97%);
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 8px;
    transform: translateY(-16px);
    transition: transform .4s;
}

.search__icon {
    font-size: 18px;
    color: hsl(230, 75%, 15%);
}

.search__input {
    width: 100%;
    padding: 5px;
    border-style: none;
    background-color: hsla(230, 100%, 97%);
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

.search__input::placeholder {
    color: hsl(230, 12%, 40%);
}

/* Show Search */
.show-search {
    opacity: 1;
    pointer-events: initial;
}

.show-search .search__form {
    transform: translateY(0);
}

/* Dropdown */
.dropdown__button {
    cursor: pointer;
}

.dropdown__arrow {
    font-size: 24px;
    font-weight: initial;
    transition: transform 0.4s;
}

.dropdown__content, .dropdown__group, .dropdown__list {
    display: grid;
}

.dropdown__container {
    background-color: #ffffff;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s;
}

.dropdown__content {
    row-gap: 28px;
}

.dropdown__group {
    row-gap: 8px;
}

.dropdown__list {
    row-gap: 4px;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: center; 
}

.dropdown__link {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    transition: color 0.3s;
    text-decoration: none;
    display: block;
    width: 100%; 
    text-align: center;
    padding: 10px 0; 
}

.dropdown__link:hover {
    color: #ffffff;
    background-color: #cecece;
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
    transform: rotate(180deg);
}


/* For small devices */
@media screen and (max-width: 300px) {
    .dropdown__group {
        padding-left: 24px;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    /* Nav */
    .nav {
        height: 88px;
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle, .nav__close {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 48px;
        height: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .nav li {
        display: flex;
    }

    .nav__link {
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0; 
    }

    /* Dropdown */
    .dropdown__button {
        column-gap: 4px;
        pointer-events: none;
    }

    .dropdown__container {
        top: 50px;
        width: 150px; 
        padding: 10px 20px; 
        height: max-content; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff00; 
        box-shadow: 0 6px 8px hsla(220, 61%, 26%, 0.05);
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
    }

    .dropdown__content {
        column-gap: 96px;
        max-width: 0;
    }

    .dropdown__group {
        top:100px;
        width: 100%;
        text-align: center;
        row-gap: 16px;
        padding: 0;
    }

    .dropdown__group :last-child{
        width:100px;
    }

    .dropdown__link:hover {
        transform: translateX(8px);
        color: hsl(230, 75%, 15%);
    }

    .dropdown__item {
        position: relative;
        cursor: pointer;
    }

    .dropdown__item:hover .dropdown__arrow {
        transform: rotate(180deg);
    }

    .dropdown__item:hover > .dropdown__container {
        top: 40px;
        opacity: 1;
        pointer-events: initial;
        cursor: initial;
    }
}
